In [ ]:
a = int (input("Enter the vlaue of a="))
b = 10
print (b,a)

In [ ]:
print ("This is my first program in Python")
print ("Hello, All Mechanical III sem Students")
print ("Well come all III Sem Mech Students to Python world for better opportunity")

In [ ]:
Apple = 20
krishna = 'HoD of Mechanical Engineering'
print (Apple); print (krishna)

In [ ]:
a = 5
print(type (a))

In [ ]:
a = 'Krishna'
print(a)
a= 5
print(a)
a = 5+4j
print(a*a)
A = 45
print (A)

In [ ]:
a8=45
print (a8)

In [ ]:
A1 = [1,2,3,4,5,6,'Mangaluru',20]
print (A1)

In [ ]:
awhile = [1,2,3,4,5,6,'Mangaluru',20]
print (awhile)

In [ ]:
a = range (4,41,5)
for i in a:
    print (i)

In [ ]:
sum = 10+\
456+\
908
print (sum)

In [ ]:
a= {2,3,
   4,6,7,
   8,10}
print (a)

In [ ]:
print(a)

In [ ]:
print (5 in a)
print (6 in a)

In [ ]:
b =[]
print (b)

In [ ]:
a = [2,3,4,"Rama", 4.5, 6,7, 5+4j, True]
print (a)

In [ ]:
a = 'krishna'
b= "Rama"
c= """RVCE
Bangaluru 
Karnataka"""
print (a,b,c)
print (a[4])
print (a[-1])
print (c[4])
print (a[2:4])

In [ ]:
rv_dict= {'Principal': 'Dr. K N Subramanya', 'College': 'RVCE', 'City': 'Bengaluru' }
#print (rv_dict)
print (rv_dict["Principal"])
print (rv_dict['City'])

In [ ]:
a = [202,3,4,5,7,8,9,10,200,300,2,3,4,5,]
print (a)
a[8]=100
print (a)

In [ ]:
b= set(a)
print (b)

In [ ]:
a=[2,2,2,2,2,2,2,2,2,2]
print (a)
b = set(a)
print(b)

In [ ]:
# data type in Python 
a = "Hello Students" # String 
b = 20               # integer 
c=30+4j
d=['apple','Mango','Orange']
e=('Class', 4,5,6,7,8)
print (a,b,c,d,e)

In [ ]:
a,b,c,d=5,6,7,'Rama'
print (a,b,c,d)

In [ ]:
a = 3+4j
print (abs(a))
print (abs(-5))

In [ ]:
a= 3,4,5,6,6,7,8,9,1,9, True, False
print (all(a))

In [ ]:
a,b,c,d=[1,2,3,4], [0,1,4,5], [False, 1], []
print (all(a), all(b),all(c),all(d))

In [ ]:
test1, test2, test3, test4, test5 = [], [0], 0.0, True, 'Easy string'
print (test1, 'is', bool(test1))
print (test2, 'is', bool(test2))
print (test3, 'is', bool(test3))
print (test4, 'is', bool(test4))
print (test5, 'is', bool(test5))

In [ ]:
print (bin (100))
print (oct(100))

In [ ]:
print ("The Binary equivalent 1 = ", bin(1))
print ("The Binary equivalent 10 = ", bin(10))
print ("The Binary equivalent 100 = ", bin(100))

In [ ]:
# data type in Python 
a = "Hello Students" # String 
b = 20               # integer 
c= 12.54             # Float 
d=3+1j               # complex 
e= ['rama', 'Sita', 'Hanuma', 'Lakshamana']  # List 
f = ('apple', 'banana','mango') # tuple
g = {'Ramanagara', 'Bengaluru', 'Mysure'}   # Set 
h = {'Name': 'M Krishna','Age': '54'} # Dictionary
print ("a=",a,"\nb=",b,"\nc=",c, "\nd=",d,"\ne=", e, "\nf=",f, "\ng=",g,"\nh=", h, "\ni=",i)

In [ ]:
class Room:
    length = 0.0
    breadth = 0.0
    
    # method to calculate area
    def calculate_area(self):
        print("Area of Room =", self.length * self.breadth)

# create object of Room class
study_room = Room()

# assign values to all the properties 
study_room.length = 42.5
study_room.breadth = 30.8

# access method inside class
study_room.calculate_area()

In [ ]:
number = dict(x=5,y=10)
print (number)

In [ ]:
a= ["Bread", 'Milk', 'Butter']
b = enumerate (a)
print (list(b))

In [ ]:
b = enumerate(a,100)
print (list(b))

In [ ]:
x =10
print (eval('x+4'))

In [ ]:
def myFunc(x):
  if x < 18:
    return False
  else:
    return True
ages = [5, 12, 17, 18, 24, 32]
adults = filter(myFunc, ages)
for x in adults:
  print(x)

In [ ]:
class Person: 
    Name = "M Krishna"
    age = 25
print ("Name of the Student is ", getattr(Person, 'Name'))
print ("Ã„ge of the student is", getattr (Person,'age'))

In [ ]:
help ('print')

In [ ]:
x = ('apple', 'banana', 'cherry')
y = id(x)
print (x)
print (y)

In [ ]:
a,b,c,d= [], [1,2,3], (1,2,3,4,5), range(1,10)
print (a, "Length of", len(a))
print (b, "Length of", len(b))
print (c, "Length of", len(c))
print (d, "Length of", len(d))

In [ ]:
a=[1,2,45,76,87,2,3,4]
print (max(a))

In [ ]:
a=[1,2,-45,76,87,2,3,4]
print (min(a))

In [ ]:
print (oct(20))

In [ ]:
print (pow(20, 2))
print (pow (20,-2))
print (pow (20, 0.34))
print (pow(20,1/3))
print (20**3.3)

In [ ]:
a=[1,2,3,4,5,6,7,8]
print (list(reversed(a)))
b = ['R','V','C','E']
print (list (reversed(b)))
print (list (reversed(range(1,10))))

In [ ]:
print (sum(range(20,30)))
print (sum([2,3,4,5,6]))

In [ ]:
a = [20.30,40,50,60]
b={20,30,40,506,6}
c = (3,4,5,6,7,8,9)
d= {'1':20, '2':30}
print (a,"type=",type(a),"\n", b,"type=",type(b),"\n",c,"type=",type(c),"\n", d, "type=",type(d))

In [ ]:
def fac(x):
    if x == 1:
        return 1
    else:
        return (x * fac(x-1))
    
print ("Factorial value of 3 =", fac(3))
print ("Factorial value of 5 =", fac(5))
print ("Factorial value of 10 =", fac(10))

In [ ]:
double = lambda x: x*2
for i in range (1,20):
    print(double(i))

In [ ]:
def add(x,y):
    sum =x+y
    return sum
print ("10+30=", add(20,20))
print (add(20,add(30,(add(40,59)))))

In [ ]:
a=20; b = 30; c=49
print (a+b+c)
print (a+b-c)
print (a*b*c)
print (a*b/c)
print (a*b%c)
print (a**b)

In [ ]:
import math
print (pow(10,2))
print (abs(-10))
print (math.sin(1.4))
print (math.cos(1.4))
print (math.floor(2.5))
print (math.floor(-2.2))
print (math.exp(3))
print (math.log(10))
print (math.sqrt(35))

In [ ]:
a=20; b = 30; c=49
print (a+b+c)
print (a-c)
print (a*b*c)
print (a/c)
print (b%c)
print (a**2)
print (b//a)

In [ ]:
a, b, c = 20, 30, 50
if (a==b):
    print ("a is equal to b")
else:
    print ("a is not equal to b")
#-----------------------------------
if (a!=b):
    print (" a is not equall to b")
else:
    print (" a is equal to b")
#-----------------------------------
if (a>b):
    print (" a is greater than b")
else:
    print (" a is not greater than b")
if (a<b):
    print (" a is smaller than b")
else:
    print (" a is not smaller than b")
    
#-------------------------------------
if (a>=b):
    print ("a is equal or greater than b")
else:
    print (" a is less than b")
# ------------------------------------
if (a<=b):
    print ("a is equal or less than b")
else :
    print ("a is grater than b")

In [ ]:
a, b, c = 20, 30, 25 
if (a>b) and (a>c):
    print (" a is greater than b and c")
else: 
    if (b>a) and (b>c):
        print ("b is grater than c and a")
    else: 
        if (c>a) and (c>b):
            print ("c is grater than b and a")

In [ ]:
a,b = 20, 30
print (a<=b)

In [ ]:
a,b = 20, 30
print (a!=b)

In [ ]:
x, y = True, False
print ('True and False is=', x and y)
print ('True or False is', x or y )
print (' x is not true', not x)

In [ ]:
print ((42).bit_length()) # number of binary number 
print (bin(42)) # converting  42 into binary number

In [ ]:
# Bitwise and
x, y = 156, 52   
print (bin(x))             #  10011100
print(bin(y))              #    110100
print (bin (x | y))
print (x | y)              #     188

In [ ]:
# Bitwise or
x, y = 156, 52   
print (bin(x))             # 10011100
print(bin(y))              #   110100
print (bin (x & y))        # 10111100
print (x&y)                # 20

In [ ]:
# Bitwise not
x= 156  
print (bin(x))      # 10011100
print (bin (~x))    # 10011101
print (~x)          # -157

In [ ]:
# Left Shit 
a = 5
print (bin (a),a)             #  101          5
print (bin(a<<1),a<<1)        # 1010         10
print (bin (a<<2),a<<2)       # 10100        20
print (bin (a<<3),a<<3)      # 101000        40

In [ ]:
# Right shift 
a = 1000
print (bin (a),a)             # 1100100   100
print (bin(a>>1),a>>1)        #  110010    50
print (bin (a>>2),a>>2)       #   11001    25
print (bin (a>>3),a>>3)       #    1100    12

In [ ]:
x = "Hello, World!"
print("ello" in x) #Returns true as it exists
print("hello" in x) #Returns false as 'h' is in lowercase
print("World" in x)#Returns true as it exists

In [ ]:
x = 12,34,5,6,7,8,9
print (124 in x)

In [ ]:
a = "Hello"
b = "Hello"
c = [1,2,3]
d = [1,2,3]
print (a is b)
print (c is d)

In [ ]:
a = 1
while a<10:
    print (a,end="\t")
    a+=1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
a, b =1,1
while (a<10):
    a +=1
    b= a*a
    print (a,"Square is", b)

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
a = [1,2,3,4,5,6,7]
for num in a:
    print (num)

In [ ]:
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [ ]:
for x in "banana":
  print(x)

In [ ]:
for i in range (1,11):
    for j in range (1,11):
        print (i*j,"\t", end = '')
    print()

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
# Example 1 Add Two Numbers
num1 = 32
num2 = 34
sum = num1+num2
print ("The sum of {0} and {1} is {2}".format(num1, num2, sum))

In [ ]:
# Example 2 Add Two Numbers With User Input
num1 = float (input ("Enter First number="))
num2 = float (input("Enter Second number=")) 
sum = num1+num2
print ("The sum of {0} and {1} is {2}".format(num1, num2, sum))

In [ ]:
#Example 3: A Solution for quadratic Equation 
import cmath
a = float (input("Enter Coefficeint of x2="))
b = float (input("Enter Coefficeint of x="))
c = float (input("Enter constant="))
d = b**2-(4*a*c)
sol1 = (-b+cmath.sqrt(d))/(2*a)
sol2 = (-b-cmath.sqrt(d))/(2*a)
print ("The solution are {0} and {1}".format(sol1,sol2))

In [ ]:
#Generating Random Number 
import random
print(random.randint(2,40))

In [ ]:
#Check odd or even number 
num = float (input("Enter the number"))
if (num%2==0): 
    print ("{0} is Even".format (num))
else:
    print ("{0} is odd".format(num))

In [ ]:
#Check if a Number is Positive, Negative or 0
num = float (input ("Enter the number"))
if num > 0:
    print ("{0} is Passitive number".format (num))
elif num==0:
    print ("{0} is zero".format (num))
else:
    print ("{0} is negetive number".format (num))

In [ ]:
#Python program to swap two variables
num1= input ('Enter the value of x:')
num2= input ('Enter the value of y:')
num1, num2 = num2,num1
print ('The value of x:{0} after swapping {1}'.format (num2,num1))
print ('The value of y:{0} after swapping {1}'.format (num1,num2))

In [ ]:
#Program to generate a 10 random numbers between 1000 and 10000
import random
for i in range (10):
    print (random.randint(1000,10000))

In [ ]:
#Python program to find the largest number among the three input numbers
num1 = float (input ("Enter the first number:"))
num2 = float (input ("Enter the second number:"))
num3 = float (input ("Enter the third number:"))
if (num1 >= num2) and (num1 >= num3):
    largest = num1 
elif (num2>=num1) and (num2 >=num3):
    largest = num2 
else:
    largest = num3
print ("The largest number is", largest)

In [ ]:
#Python program to find the largest number among the three input numbers
num1 = float (input ("Enter the first number:"))
num2 = float (input ("Enter the second number:"))
num3 = float (input ("Enter the third number:"))
print ("The Largestnumber is =", max (num1, num2, num3))

In [ ]:
#Program to check if a number is prime or not
num = int (input ("Enter the number:"))
flag = False 
if num >1: 
    for i in range (2,num):
        if (num%i)== 0:
            flag = True 
            break 
if flag:
    print (num, "is not prime number")
else: 
    print (num, "is prime number")

In [ ]:
#Python program to find the factorial of a number provided by the user.
num = int (input ("Enter a number:"))
fact=1
if num<0:
    print ("Sorry, factorial does not exists for negetive number")
elif num ==0:
    pirnt ("The factorial of 0 is 1")
else: 
    for i in range (1, num+1):
        fact = fact * i
    print ("The Factorial of {0} is {1}".format (num, fact))

In [ ]:
#Multiplication table  
num = int (input ("Display multiplication Table of:"))
for i in range (1,11):
    print (num, 'x', i, '=', num *i)

In [ ]:
#Multiplication table (1 to 10)
for i in range (1, 11):
    for j in range (1,11): 
        print (j*i, end="\t")
    print ("\n")

In [ ]:
#Python Program to Print the Fibonacci sequence
n_terms= int (input ("How many terms?"))
n1, n2 = 0, 1
count =0
if n_terms <=0:
    print ("Please Enter only a Pasitive integer")
elif n_terms ==1:
    print ("Fibonacci sequence upto {0}=  {1}".format(n_terms,n1))
else:
    print ("Fobonacci sequence :")
    while count < n_terms:
        print (n1)
        nth = n1+n2
        n1=n2
        n2 =nth
        count = count + 1

In [ ]:
#Python Program to Check Armstrong Number
num = int (input ("Enter the number:  "))
sum = 0 
temp = sum 
while temp > 0:
    digit = temp %10
    sum += digit **3
    temp //=10
if num ==sum:
    print (num, "is an Armstrong NUmber")
else:
    print (num, "is not Armstrong Number")

In [ ]:
num1= int (input("Enter the starting number: "))
num2 = int (input ("Enter the End number:  "))
for num in range(num1, num2+1):
    order=int(len(str(num)))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        print(num)

In [ ]:
#Python Program to Display Powers of 2 Using Anonymous Function
terms = int (input ('Enter number of items:'))
result = list(map(lambda x:2**x, range(terms)))
print ("The total terms are:", terms)
for i in range(terms):
    print ("2 raised to power {0} is {1}".format(i, result[i]))

In [ ]:
#Python Program to find the ASCII value of English alphabets 
char=input ("Enter the any English alphets to find ASCI values")
print ("ASCII value of {0} is {1}".format(char, ord(char)))

In [ ]:
#Python Program to Convert Decimal to Binary, Octal and Hexadecimal
dec = int (input ("Enter the decimal number is:"))
print ('The decimal number of {0} in binary={1}, in octtal={2} and in hexadecimal={3}'.format (dec, bin(dec), oct(dec), hex(dec)))

In [ ]:
#Python Program to Find HCF or GCD
def c_hcf(x,y):
    smaller = min (x,y)
    for i in range (1, smaller+1):
        if ((x%i ==0) and (y%i==0)):
            hcf = i
    return hcf 

num1 = int (input ("Enter the first vale"))
num2 = int (input ("Enter the second value"))
print ("The HCF is ", c_hcf(num1,num2)

In [ ]:
#Python Program to Find LCM 
def c_lcm(x,y):
    greater = max (x,y)
    while (True): 
        if ((greater%x ==0) and (greater%y==0)):
            lcm = greater
            break
        greater += 1
    return lcm 

num1 = int (input ("Enter the first vale"))
num2 = int (input ("Enter the second value"))
print ("The LCM is ", c_lcm(num1,num2))

In [ ]:
#Python Program to Make a Simple Calculator

def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
print ("Select type of operation:")
print ("1.Add \n2.Subtract \n3.Mutliplicaiton \n4.Division")
while True:
    choice = input ("Enter choice (1/2/3/4):")
    if choice in ('1','2','3','4'):
        num1= float (input ("Enter first number: "))
        num2 = float (input ("Enter Second Number:"))
    if choice =='1': 
        print ("{0}+{1}={2}".format (num1,num2, add(num1,num2)))
    elif choice =='2': 
        print ("{0}-{1}={2}".format (num1,num2, sub(num1,num2)))
    elif choice =='3': 
        print ("{0}*{1}={2}".format (num1,num2, mul(num1,num2)))
    elif choice =='4': 
        print ("{0}/{1}={2}".format (num1,num2, div(num1,num2)))
    next_calculation = input ("let do next_Calculation? yes/no")
    if next_calculation == "no":
        break

In [ ]:
#Python Program to Display Calendar
import calendar 
yy =int(input ("Enter the year"))
mm = int (input ("Enter the month"))
print (calendar.month(yy,mm))